@font-face {
  font-family: "Jost";
  src: url("./fonts/Jost-Regular.woff2") format("woff2"),
    url("./fonts/Jost-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost* 700";
  src: url("./fonts/Jost-Bold.woff2") format("woff2"),
    url("./fonts/Jost-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost* 600 Semi";
  src: url("./fonts/Jost-Semi.woff2") format("woff2"),
    url("./fonts/Jost-Semi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost* 300";
  src: url("./fonts/Jost-Light.woff2") format("woff2"),
    url("./fonts/Jost-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost* 500";
  src: url("./fonts/Jost-Medium.woff2") format("woff2"),
    url("./fonts/Jost-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("./fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Jost";
  max-width: 1600px;
  margin: 0 auto;
}
.navMenu {
  display: none;
}
.close_nav {
  fill: white;
  right: 18vw;
  top: 42px;
  position: absolute;
}
.header {
  width: 100%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f2f2f2;
}
.left{
  margin-left: 8px;
}
.flag {
  display: none;
  position: absolute;
}
.show {
  display: none;
}
#flags {
  cursor: pointer;
}
li {
  list-style: none;
  margin: 0px 19px;
}
.right ul {
  display: flex;
  align-items: center;
}

.right ul li a {
  text-decoration: none;
}
.right ul li span {
  padding: 0px 5px;
  bottom: 1px;
  position: relative;
}
.right ul li p {
  display: inline;
  padding: 0px 5px;
  bottom: 3px;
  position: relative;
}
.right ul li p img {
  width: 8px;
  position: absolute;
  top: 2px;
}
.right ul li span p {
  padding: 0px 5px;
  bottom: 5px;
  position: relative;
}

.right ul li {
  list-style: none;
  margin: 0px 13px;
}
.right ul li img {
  width: 23px;
  margin: 3px -7px -2px 0px;
}
.main_header {
  font-size: 16px;
  color: #303030;
  margin-top: 10px;
  padding: 12px 0px;
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 6px -4px #e4e4e4;
}
.nav_links {
  display: none;
}

.left1 {
  margin-left: 79px;
}

.mid {
  margin: auto;
}

.left1 ul {
  display: flex;
}

.right1 {
  margin: -27px;
  display: flex;
  justify-content: space-between;
}
.right1 ul {
  display: flex;
  margin-right: 37px;
}
.left1 ul li a {
  font-family: "Jost* 600 Semi";
  font-weight: bold;
  text-decoration: none;
  color: #303030;
  font-weight: 300;
  font-size: 14px;
}
.right1 ul li a {
  font-family: "Jost* 600 Semi";
  font-weight: bold;
  text-decoration: none;
  color: #303030;
  font-size: 14px;
}
.mid img {
  width: 155px;
}
.svg {
  display: flex;
  justify-content: space-between;
  margin-right: 23px;
}
svg {
  width: 21px;
  margin: 0px 17px;
  cursor: pointer;
}
#proheading {
  margin-top: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#proheading p {
  font-family: "Playfair Display";
  font-size: 32px;
}
#proheading span {
  margin-top: 3px;
  color: #303030;
  font-size: 18px;
  opacity: 70%;
}
.filters {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
#shrot_by {
  font-family: "Jost* 500";
  padding: 12px 30px;
  border-radius: 0px;
}
.right_filter{
  margin-right: 51px;
}

.left_filter {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  margin-left: 4vw;
}
.left_filter a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  padding: 0px 16px;
}
.left_filter a svg {
  margin: 0px 7px;
}
div button {
  background-color: rgb(246 246 246);
  border: none;
  padding: 7px 67px 8px 19px;
  border-radius: 2px;
  cursor: pointer;
}
.products_img {
  position: relative;
  max-width: 1600px;
  margin: auto;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}
.products_img img {
  margin: 2px;
}
.products {
  flex: 0 0 25%;
}
.products svg {
  position: relative;
  left: 299px;
  top: 35px;
}
.products p {
  position: relative;
  color: #4c0b36;
}

.pagesnation {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.page {
  margin-top: 33px;
  margin-left: 75px;
}
.no_pages {
  margin-right: 450px;
  margin-top: 35px;
}
.no_pages span {
  font-family: "Jost";
  font-size: 18px;
  margin: 8px;
  padding: 9px;
}
.no_pages span:last-child {
  border: 1px solid #e4e4e4;
}
.no_pages span:hover {
  cursor: pointer;
  color: white;
  background-color: #4c0b36;
}
#border {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right_border {
  width: 536px;
  height: 6px;
  border-top: 1px solid #eae4cf;
  border-bottom: 1px solid #eae4cf;
}

.mid_border {
  margin: 0px 19px;
}
.mid_border img {
  width: 72px;
}
.left_border {
  width: 536px;
  height: 6px;
  border-top: 1px solid #eae4cf;
  border-bottom: 1px solid #eae4cf;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  margin: 2px 0px 3px 9px;
  align-items: flex-start;
  border-bottom: 1px solid #eae4cf;
}

.footer_links {
  margin: 35px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.footer_links h3 {
  font-size: 16px;
  margin: 6px 10px 6px 16px;
  font-weight: 100;
  font-size: 14px;
}
.footer_links p {
  font-size: 14px;
  margin: 9px 9px 3px 4px;
  padding: 1px 0px 5px 12px;
}
#newsleatter {
  padding: 7px 13px;
  margin: 3px 0px 33px 1px;
  font-size: 14px;
}
.email {
  margin-left: 13px;
  border-bottom: 2px solid black;
}
.footer_links input {
  border: none;

  font-size: 14px;
  font-family: "Jost";
}
#subscribe {
  font-weight: bold;
  padding-left: 96px;

  cursor: pointer;
}

.follow {
  font-weight: bold;
  letter-spacing: 4px;
}
.links {
  margin-top: 23px;
}
.fb {
  width: 55px;
}

.copyrights {
  margin-top: 17px;
}
.hamburder_menu {
  display: none;
}
#hamburger {
  display: none;
}
.logo1 {
  display: none;
}
.follow_email {
  display: none;
}
.footer_links h3 span {
  display: none;
}

@media (max-width: 767px) {
  .main_header {
    z-index: 1;
    background-color: white;
    position: sticky;
    top: 0;
  }
  .svg {
    margin-left: 58px;
    margin-right: 0px;
  }
  .gray_div {
    width: 21%;
    height: 100vh;
    background-color: #05040445;
  }
  .nav_links {
    z-index: 1;
    /* justify-content: center; */
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 14vh;
    background-color: #272727d1;
    transform: translateX(-100vw);
    transition: all 0.5s ease-in-out;
    width: 100%;
    top: 0;
    left: 0;
  }
  .active {
    transform: translateX(0vw);
  }

  .nav_links ul {
    margin: 24px;
  }
  .nav_links ul li {
    margin: 40px;
    margin-left: 0;
    color: white;
  }
  .nav_links ul li a {
    color: white;
    text-decoration: none;
  }
  .nav_links ul li a img {
    width: 23px;
  }

  .remove_nav_links {
    width: 100%;
    height: 222px;
    color: #4c0b36;
  }
  .navMenu {
    display: block;
    margin-left: 16px;
    width: 31px;
  }
  .mid {
    margin: 4px;
  }
  .svg {
    margin-left: 133px;
    margin-right: 0px;
  }
  svg {
    margin: 0px 8px;
  }
  .mid img {
    width: 64px;
  }
  #proheading p {
    font-size: 28px;
  }
  .products svg {
    right: 0px;
  }
  .products h4 {
    font-size: 14px;
  }

  .products {
    position: relative;
    display: inline-block;
    margin: 0 2px;
  }
  .products_img {
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    border-bottom: 0px;
  }
  .products_img img {
    margin: 2px;
    max-width: 100%;
  }
  .products {
    flex: 0 0 45%;
  }
  .products p {
    margin: 7px 3px;
  }
  .products svg {
    position: relative;
    left: 35vw;
  }
  .filters {
    display: flex;
    width: 100%;
    z-index: 1;
    position: fixed;
    bottom: 0;
    background-color: white;
    justify-content: space-evenly;
  }

  .left_filter {
    border: 1px solid #000000ab;
  }
  .left_filter a {
    padding: 0px 21px;
    text-decoration: none;
    color: black;
    font-size: 11px;
    font-weight: bold;
  }
  .left_filter a svg {
    width: 15px;
  }
  .left_filter img {
    margin-left: 3px;
  }
  #shrot_by {
    margin: 0px 14px;
  }
  .right {
    display: none;
  }
  .main_header {
    position: sticky;
    display: flex;
    justify-content: space-between;
  }

  .left1 {
    display: none;
    flex-direction: column;
  }
  .left1 ul {
    flex-direction: column;
  }
  .right1 {
    display: none;
  }
  .logo1 {
    display: inline;
    width: 23px;
  }
  .logo2 {
    display: none;
  }

  .pagesnation {
    margin-top: 40px;
    display: flex;
    /* justify-content: unset; */
  }
  .page {
    margin-top: 0px;
    margin-left: 23px;
    margin-right: 0px;
  }
  .no_pages span {
    font-family: "Jost";
    font-size: 14px;
    margin: -4px;
    padding: 11px;
  }
  .no_pages {
    margin: 0px 28px;
  }

  #subscribe {
    padding-left: 64px;
  }
  .footer_links input {
    font-size: 12px;
  }
  .login {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
  }
  .user_login {
    background-color: #4c0b36;
  }
  .cetegory li {
    border-bottom: 0.1px solid #473e3e42;
  }
  .user_login ul li {
    color: white;
    margin: 0;
  }
  .login ul li a img {
    width: 56px;
  }
  .login ul li a {
    color: black;
  }
  .under_line ul li {
    border-bottom: 1px solid white;
  }

  /* -------------------footer responsive------------------ */
  .footer {
    display: inline;
  }
  .footer_links p {
    margin-top: 10px;
  }
  .footer_links h3 span {
    display: block;
    padding-left: 72vw;
  }
  .footer_link_heading {
    display: flex;
  }
  .follow_email {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .links {
    margin-top: 16px;
    margin-left: 8px;
  }
  .copyrights {
    margin-top: 4px;
  }
  #newsleatter {
    padding: 18px 9px;
    margin-top: 32px;
    font-size: 15px;
  }
  .footer_links h3 {
    border-bottom: 1px solid black;
  }
  .quick_links_para {
    display: none;
  }
  .para {
    display: none;
  }
  .customer_services_para {
    display: none;
  }
  .my_profile_para {
    display: none;
  }
  .display {
    display: block;
  }
}
