@font-face {
  font-family: "Jost";
  src: url("./fonts/Jost-Regular.woff2") format("woff2"),
    url("./fonts/Jost-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost* 700";
  src: url("./fonts/Jost-Bold.woff2") format("woff2"),
    url("./fonts/Jost-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost* 600 Semi";
  src: url("./fonts/Jost-Semi.woff2") format("woff2"),
    url("./fonts/Jost-Semi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost* 300";
  src: url("./fonts/Jost-Light.woff2") format("woff2"),
    url("./fonts/Jost-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost* 500";
  src: url("./fonts/Jost-Medium.woff2") format("woff2"),
    url("./fonts/Jost-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("./fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Jost";
  max-width: 1600px;
}
.header {
  width: 100%;
  font-size: 10px;
  padding: -2px 90px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f2f2f2;
}
.flag{
  display: none;
}
#flags{
  cursor: pointer;
}
li {
  list-style: none;
  margin: 0px 19px;
}
.right ul {
  display: flex;
}

.right ul li a {
  text-decoration: none;
}
.right ul li span {
  padding: 0px 5px;
  bottom: 1px;
  position: relative;
}
.right ul li p {
  display: inline;
  padding: 0px 5px;
  bottom: 5px;
  position: relative;
}
.right ul li p img {
  width: 8px;
  position: absolute;
  top: 2px;
}
.right ul li span p {
  padding: 0px 5px;
  bottom: 5px;
  position: relative;
}

.right ul li {
  list-style: none;
  margin: 0px 13px;
}
.right ul li img {
  width: 23px;
  margin: 3px -7px -2px 0px;
}
.main_header {
  font-size: 16px;
  color: #303030;
  margin-top: 10px;
  padding: 12px 0px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  box-shadow: 0px 5px 6px -4px #e4e4e4;
}
.left1 {
  margin-left: 79px;
}
.mid {
  margin: auto;
}

.left1 ul {
  display: flex;
}

.right1 {
  margin: -27px;
  display: flex;
  justify-content: space-between;
}
.right1 ul {
  display: flex;
  margin-right: 37px;
}
.left1 ul li a {
  font-family: "Jost* 600 Semi";
  font-weight: bold;
  text-decoration: none;
  color: #303030;
  font-weight: 300;
  font-size: 14px;
}
.right1 ul li a {
  font-family: "Jost* 600 Semi";
  font-weight: bold;
  text-decoration: none;
  color: #303030;
  font-size: 14px;
}
.mid img {
  width: 155px;
}
.svg {
  display: flex;
  justify-content: space-between;
  margin-right: 23px;
}
svg {
  width: 21px;
  margin: 0px 17px;
  cursor: pointer;
}
#proheading {
  margin: 37px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#proheading p {
  font-family: "Playfair Display";
  font-size: 32px;
}
#proheading span {
  margin-top: 3px;
  color: #303030;
  font-size: 18px;
  opacity: 70%;
}
.filters {
  display: flex;
  justify-content: space-between;
  margin: -13px 10vh;
}
#shrot_by {
  font-family: "Jost* 500";
  padding: 12px 30px;
  border-radius: 0px;
}
.right_filter {
  margin-right: 20px;
}
.left_filter img {
  height: 42px;
  width: 137px;
  margin-left: 25px;
  cursor: pointer;
}
div button {
  background-color: rgb(246 246 246);
  border: none;
  padding: 7px 67px 8px 19px;
  border-radius: 2px;
  cursor: pointer;
}

.products_img {
  position: relative;
  max-width: 1600px;
  margin: auto;
  padding: 0px 0px 44px 59px;
  border-bottom: 1px solid #e4e4e4;
}
.products {
  padding: 12px 17px;
  position: relative;
  display: inline-block;
  max-width: 254px;
}
.products svg {
  position: absolute;
  right: -1px;
  top: 65px;
}
.products p {
  position: absolute;
  margin: -18px -2px;
  color: #4c0b36;
}
.products h4 {
  position: absolute;
  color: black;
  font-size: 18px;
  margin: -52px -8px;
  left: 19px;
}
.products,
p,
h4 {
  padding: 0px 12px;
}
.products_img img {
  width: 100%;
  margin: 52px 10px;
}

.pagesnation {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.page {
  margin-top: 33px;
  margin-left: 75px;
}
.no_pages {
  margin-right: 450px;
  margin-top: 35px;
}
.no_pages span {
  font-family: "Jost";
  font-size: 18px;
  margin: 8px;
  padding: 9px;
}
.no_pages span:last-child {
  border: 1px solid #e4e4e4;
}
.no_pages span:hover {
  cursor: pointer;
  color: white;
  background-color: #4c0b36;
}
#border {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right_border {
  width: 536px;
  height: 6px;
  border-top: 1px solid #eae4cf;
  border-bottom: 1px solid #eae4cf;
}

.mid_border {
  margin: 0px 19px;
}
.mid_border img {
  width: 72px;
}
.left_border {
  width: 536px;
  height: 6px;
  border-top: 1px solid #eae4cf;
  border-bottom: 1px solid #eae4cf;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  margin: 2px 0px 3px 9px;
  align-items: flex-start;
  border-bottom: 1px solid #eae4cf;
}

.footer_links {
  margin: 35px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.footer_links h3 {
  font-size: 16px;
  margin: 6px 10px 6px 16px;
  font-weight: 100;
  font-size: 14px;
}
.footer_links p {
  font-size: 14px;
  margin: 9px 9px 3px 4px;
  padding: 1px 0px 5px 12px;
}
#newsleatter {
  padding: 7px 13px;
  margin: 3px 0px 33px 1px;
  font-size: 14px;
}
.footer_links input {
  border: none;
  margin: 0px -5px 27px 15px;

  padding: 1px 113px 9px 0px;
  border-bottom: 2px solid black;
  font-size: 14px;
  font-family: "Jost";
}
#subscribe {
  font-weight: bold;
  border-bottom: 2px solid black;
  padding: 0px 0px 8.8px 16px;
  cursor: pointer;
}

.follow {
  font-weight: bold;
  letter-spacing: 4px;
}
.links {
  margin-top: 23px;
}
.fb {
  width: 55px;
}

.copyrights {
  margin-top: 17px;
}
.hamburder_menu{
  display: none;
}
#hamburger{
  display: none;
}
.logo1{
  display: none;
}

@media (max-width: 640px) { 
.right{
  display: none;
}
.main_header{
  /* display: none; */
}

#hamburger{
 display: inline;
}
.left1{
  display: none;
}
.right1{
  display: none;
}
.logo1{
  display: inline;
  width: 23px;
}
.logo2{
  display: none;

}

 }